*{
margin:0;
padding:0;
box-sizing: border-box;
}


.container{
    width: 100%;
    min-height:100vh; 
    background: linear-gradient(to right, #1488cc, #2b32b2);
   
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    top:20% ;
    left: 50%;
    transform: translate(-50%,-50%);

    position: absolute;

    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display:flex ;
    align-items: center;
    margin-bottom: 20px;


}
.todo-app h2 img{
     width: 30px;
     margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 100% ;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px ;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
/* ul{
    position: absolute;
} */
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}

ul li::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{

    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0%;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}